.card-container {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 3rem;
  opacity: 1 !important;

  /* margin-right: auto;
  margin-left: auto;
  width: 1300px;
  justify-content: center; */
}

/* Simple Card styles for prettying */
html {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  background-color: #000046;
  background-image: linear-gradient(to right, #000046, #1cb5e0);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.wallpaper {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  background-image: url("../images/tokyo.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.2;
  /* position: fixed; */
}

body {
  margin: 0 auto;
  /* width: 1100px; */
 
}

* {
  box-sizing: border-box;
}

.card {
  box-shadow: 0px 1px 5px #555;
  background-color: white;
  opacity: 1 !important;
}

.card__title {
  font-size: 2rem;
  padding: 0.5rem;
}

.card__description {
  padding: 0.5rem;
  line-height: 1.6em;
}

.button {
  display: block;
  background-color: tomato;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: 0.3s ease-out;
}
.button:hover {
  background-color: #ff3814;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}
